<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>doodlesack website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <h1>DOODLESACK</h1>
    <h2>Premise of the game</h2>
    <ul>
        <li>Our game is inspired by <em>Doodle Jump</em>, so the goal is to jump from block to block and get as high as possible (or in our case, reach the top).</li>
    </ul>
    <h2>How to play</h2>
    <ul> 
        <li>Click the arrows to move left or right respectively.</li>
        <li>Click the space bar to jump.</li>

    </ul>
    <h2>Problems and struggles</h2>
    <p> The game does, in fact not work.</p>
</body>
</html>